<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="UpdateSchoolClass" method="POST">
					<table>
						<tr>
							<td>rok rozpoczęcia:</td><td><input type="text" name="schoolClassStartYear" th:value="${schoolClassStartYear}" /></td>
							<td><input type="text" name="oldSchoolClassStartYear" th:value="${schoolClassStartYear}" disabled="disabled"/></td>
						</tr>
						<tr>
							<td>obecny rok:</td><td><input type="text" name="schoolClassCurrentYear" th:value="${schoolClassCurrentYear}"/></td>
							<td><input type="text" name="oldSchoolClassCurrentYear" th:value="${schoolClassCurrentYear}" disabled="disabled"/></td>
						</tr>
						<tr>
							<td>profil:</td><td><input type="text" name="schoolClassProfile" th:value="${schoolClassProfile}" /></td>
							<td><input type="text" name="oldSchoolClassProfile" th:value="${schoolClassProfile}" disabled="disabled"/></td>
						</tr>
						<tr>
							<td>szkoła:</td><td><select class="form-control" name="schoolClassSchool" id="schoolClassSchool">
											   <option selected="hidden" th:value="${schoolClassSchool.id}" th:text="${schoolClassSchool.name} + ', ' + ${schoolClassSchool.address}"></option>
											   <option th:each="school: ${schools}" th:value="${school.id}" th:text="${school.name} + ', ' + ${school.address}"></option>
											    </select>
							</td>
							<td><select class="form-control" name="schoolClassSchool" id="schoolClassSchool" disabled="disabled">
											   <option selected="hidden" th:value="${schoolClassSchool.id}" th:text="${schoolClassSchool.name} + ', ' + ${schoolClassSchool.address}"></option>
											   <option th:each="school: ${schools}" th:value="${school.id}" th:text="${school.name} + ', ' + ${school.address}"></option>
											    </select>
							</td>
						</tr>
					</table><br/><BR/>
					<input type="hidden" name="schoolClassId" th:value="${schoolClassId}" />
					<input type="submit" value="Modyfikuj"/>
				</form>
    </div>

</body>
</html>


