<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>



    <span layout:fragment="pageTitle"> - Klasy </span>

    <div layout:fragment="content">
    	<div th:include="menuFragment" ></div>
		<br/><Br/>
		<table border="1" cellpadding="5">
			<tr><th>Id</th><th>Rok rozpoczęcia</th><th>Obecny rok</th><th>Profil</th><th>Szkoła</th><th>Akcje</th></tr>
			<tr th:each="schoolClass: ${schoolClasses}">
				<td><span th:text="${schoolClass.id}" /></td>
				<td><span th:text="${schoolClass.startYear}" /></td>
				<td><span th:text="${schoolClass.currentYear}" /></td>
				<td><span th:text="${schoolClass.profile}" /></td>
				
		        <td><span th:each="school:${schools}" th:object="${school}">
          			<span th:each="otherSchoolClass:${school.classes}" th:object="${otherSchoolClass}"
                			th:if="${otherSchoolClass.id == schoolClass.id}" >
            		<span th:text="${school}">	</span>
          											</span>
        											</span>
				</td>
		        
		        <td>
		            <form action="DeleteSchoolClass" method="POST" style='display: inline'>
		            	<input type="hidden" name="schoolClassId" th:value="${schoolClass.id}" />
		                <button type="submit">X</button>
		            </form>
		            <form action="EditSchoolClass" method="POST" style='display: inline'>
		            	<input type="hidden" name="schoolClassId" th:value="${schoolClass.id}" />
		                <button type="submit">E</button>
		            </form>
		        </td>
			</tr>
		
		
		</table><br/><a href='AddSchoolClass'>dodaj klasę</a><br/><br/>
		
    </div>

</body>
</html>