<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="UpdateSchool" method="POST">
					<table>
						<tr>
							<td>nazwa:</td><td><input type="text" name="schoolName" th:value="${schoolName}" /></td>
							<td><input type="text" name="oldSchoolName" th:value="${schoolName}" disabled="disabled" /></td>
						</tr>
						<tr>
							<td>adres:</td><td><input type="text" name="schoolAddress" th:value="${schoolAddress}" /></td>
							<td><input type="text" name="oldSchoolAddress" th:value="${schoolAddress}" disabled="disabled"/></td>
						</tr>
					</table><br/><BR/>
					<input type="hidden" name="schoolId" th:value="${schoolId}" />
					<input type="submit" value="Modyfikuj"/>
				</form>
    </div>

</body>
</html>


