<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>



    <span layout:fragment="pageTitle"> - Studenci </span>

    <div layout:fragment="content">
    	<div th:include="menuFragment" ></div>
		<br/><Br/>
		<table border="1" cellpadding="5">
			<tr><th>Id</th><th>Imię</th><th>Nazwisko</th><th>Pesel</th><th>Klasa</th><th>Szkoła</th><th>Akcje</th></tr>
			<tr th:each="student: ${students}">
				<td><span th:text="${student.id}" /></td>
				<td><span th:text="${student.name}" /></td>
				<td><span th:text="${student.surname}" /></td>
				<td><span th:text="${student.pesel}" /></td>
		        
		        <td><span th:each="schoolClass:${schoolClasses}" th:object="${schoolClass}">
          			<span th:each="otherStudent:${schoolClass.students}" th:object="${otherStudent}"
                			th:if="${otherStudent.id == student.id}" >
            		<span th:text="${schoolClass.profile}">	</span>
          											</span>
        											</span>
				</td>
		        
		        <td><span th:each="school:${schools}" th:object="${school}">
					<span th:each="schoolClass:${school.classes}" th:object="${schoolClass}">
          			<span th:each="otherStudent:${schoolClass.students}" th:object="${otherStudent}"
                			th:if="${otherStudent.id == student.id}" >
            		<span th:text="${school}">	</span>
          											</span>
        											</span>
        											</span>
				</td>
				
				<td>
		            <form action="DeleteStudent" method="POST" style='display: inline'>
		            	<input type="hidden" name="studentId" th:value="${student.id}" />
		                <button type="submit">X</button>
		            </form>
		            <form action="EditStudent" method="POST" style='display: inline'>
		            	<input type="hidden" name="studentId" th:value="${student.id}" />
		                <button type="submit">E</button>
		            </form>
		        </td>
			</tr>
		
		
		</table><br/><a href='AddStudent'>dodaj studenta</a><br/><br/>
		<br/><Br/>
		
		
    </div>

</body>
</html>